{% extends '_blog.html' %}

{% block pagetitle %}{{ post.title }}{% endblock pagetitle %}

{% block content %}

<article class="post">
	<header class="post-header">
		<img src="{{ url_for('static', filename='img/avatar.jpg') }}" class="avatar post-avatar">
		<h3 class="post-username">{{ name }}
			<span class="username">@{{ username }} - {{ post.dt }}</span>
		</h3>
	</header>
	<main class="post-content">
		<h4 class="post-title">{{ post.title }}</h4>
		<p class="post-body">{{ post.body|markdown }}</p>
	</main>
	<footer class="post-footer">
		<ul>
			<li>
				<i class="fas fa-comment"></i>
			</li>
			<li>
				<i class="fas fa-heart"></i>
			</li>
			<li>
				<i class="fas fa-share"></i>
			</li>
			<li>
				<i class="fas fa-retweet"></i>
			</li>
		</ul>
	</footer>
</article>

{% endblock %}
