{% extends '_base.html' %}

{% block pagetitle_base %}Blog do Will :: {% block pagetitle %}{% endblock %}{% endblock pagetitle_base %}

{% block content_base %}

<div class="container">
  <nav class="navbar">
    <a href="{{ url_for('core.index') }}" class="navbar-item"><i class="fas fa-home"></i></a>
    <a href="#" class="navbar-item"><i class="fas fa-tags"></i></a>
    <a href="#" class="navbar-item"><i class="fas fa-hashtag"></i></a>

    <a href="#" class="navbar-item"><i class="fab fa-github"></i></a>
    <a href="#" class="navbar-item"><i class="fab fa-twitter"></i></a>
    <a href="#" class="navbar-item"><i class="fas fa-cog"></i></a>
  </nav>
  <div class="main-content">
    <header>
      <div class="cover_container">
        <img src="{{ url_for('static', filename='img/cover.jpg') }}" alt="" class="cover"><br>
      </div>
      <img src="{{ url_for('static', filename='img/avatar.jpg' ) }}" alt="" class="avatar"><br>
      <h1>{{ name }}</h1>
      <h2 class="subtitle">@{{ username }}</h2>
    </header>
    <main class="content">{% block content %}{% endblock %}</main>
    <footer></footer>
  </div>
</div>

{% endblock content_base %}