{% extends '_blog.html' %}

{% block pagetitle %}Home{% endblock pagetitle %}

{% block content %}
  {% for post in posts %}
  <article class="post">
    <header class="post-header">
      <img src="{{ url_for('static', filename='img/avatar.jpg') }}" 
        class="avatar post-avatar">
      <h3 class="post-username">{{ name }} 
        <span class="username">@{{ username }} - {{ post.dt }}</span>
      </h3>
    </header>
    <main class="post-content">
      <h4 class="post-title">{{ post.title }}</h4>
      <p class="post-body">{{ post.body }}</p>
    </main>
    <footer class="post-footer">
      <ul>
        <li><img src="{{ url_for('static', filename='img/home.png') }}" alt="" srcset=""></li>
        <li><img src="{{ url_for('static', filename='img/home.png') }}" alt="" srcset=""></li>
        <li><img src="{{ url_for('static', filename='img/home.png') }}" alt="" srcset=""></li>
        <li><img src="{{ url_for('static', filename='img/home.png') }}" alt="" srcset=""></li>
        <li><img src="{{ url_for('static', filename='img/home.png') }}" alt="" srcset=""></li>
      </ul>
    </footer>
  </article>
  {% endfor %}
{% endblock %}